<!DOCTYPE html>
<html>
<head>
<style>
<style>
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
</style>
h1 {
  text-align: center;
}
body { 
  text-align: center;
}
</style>
</head>
<body>
font-family: 'Yanone Kaffeesatz', sans-serif;
<h1 text-align: center;
style="color:blue;">I hope you enjoy what you see</h1>

<body style="background-color:powderblue;">
<p style="color:blue;"> visit again soon! </p>  
